*.o
externals_all
__pycache__/
*.py[cod]
*.bak*
*~
.DS_Store
._*
OUT/
runout/
results/logs/
results/raw/
results/tables/*.csv
results/tables/*.txt


!results/tables/dis_rc_reference_grid.csv

!results/tables/dis_rc_12bins_v1_kinematics.csv
!results/tables/dis_rc_12bins_v1.csv
